language: node_js
node_js: stable
branches:
  only:
    - source  # only monitor source branch
before_install:
  - git clean -fd
  - git checkout source
  - tar zcvf ./source.tar.gz ./*
  - mkdir source
  - tar zxvf source.tar.gz -C ./source
  - rm source.tar.gz
  - git fetch origin hexo-skeleton:hexo-skeleton
  - git checkout hexo-skeleton

install:
  - npm install

script:
  - hexo cl
  - hexo g

after_script:
  - cd public
  - git init
  - git config user.name "linjapyc"
  - git config user.email "linjapyc@gmail.com"
  - git remote add origin https://${GH_TOKEN}@github.com/irgb/irgb.github.io.git
  - git add .
  - git commit -am "`date +'%Y-%m-%d %H:%M:%S'`"
  - git push -f origin master:master
