language: node_js
node_js: stable
branches:
  only:
    - source  # only monitor source branch
before_install:
  - git clean -fd
  - git checkout source
  - tar zcvf ./source.tar.gz ./*
  - mkdir source
  - tar zxvf source.tar.gz -C ./source
  - rm source.tar.gz
  - git fetch origin hexo-skeleton
  - git checkout hexo-skeleton

install:
  - npm install

script:
  - hexo cl
  - hexo g

after_script:
  hexo d
